<!-- git repo link : https://github.com/Yashwanth12-A/resume_Analyser.git -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Careerlens</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <div class="logo">
        <img src="./images/hacker 2.jpg" height="40px" alt="careerlens logo" />
        Careerlens
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">ResumeBuilder</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="../templates/login.html">login</a></li>
      </ul>
    </nav>

    <div class="welcome-text">
      <h1>Turn Your resume into Oppertunities</h1>
    </div>

    <!-- cheering or hero section -->
    <section class="hero">
      <div class="hero-part">
        <h1>Your Career <span>Starts here,</span></h1>
        <p>
          Build ,Polish Your Professtional Resume with Smart Tools -Designed to
          help You Land Your Dream Job Faster
        </p>
        <a href="#" class="btn-primary upload">Get Started</a>
      </div>
      <div class="interview-img">
        <img src="./images/hacker 2.jpg" alt="career illustration" />
      </div>
    </section>
  </body>
</html>
